# Base
/node_modules
/vendor
.env.backup
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
composer.phar
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# For IDE
/nbproject
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php

# Project
/storage
.env
