<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/AppBoot.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <!--
        <testsuite name="DamianPhpFw">
            <directory suffix="Test.php">./vendor/s-damian/damian-php-fw/tests</directory>
        </testsuite>
        -->
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>